@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex flex-column">
    <h1 class="display-4">.NET Core 6 - Api Versions</h1>
    <a href="/api/v1/bands">Version 1 - Get All Bands</a>
    <a href="/api/v1/bands/4">Version 1 - Get 1 Bands</a>
    <a href="/api/v2/bands">Version 2 - Get All Bands</a>
    <a href="/api/v2/bands/5">Version 2 - Get 1 Band</a>
</div>
